
<div class="container">
    <h1>Todo List</h1>
    <div class="input-container">
        <input [(ngModel)]="todoModel.note" (keydown.enter)="create()" id="input-box" type="text" class="todo-input" placeholder="Add Task">
        <button (click)="create()" class="add-button">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
    <div class="filters">
        <div (click)="showAll()" class="filter" data-filter="all">All</div>
        <div (click)="complateList()" class="filter" data-filter="complated">Complate</div>
        <div (click)="pendingList()" class="filter" data-filter="pending">Incomplate</div>
        <div class="delete-all" (click)="deleteAll()">Delete All</div>
    </div>
    <div class="todos-container">
        @if (todoModel.note !== null) {
            <ul class="todos">
                @for (todo of todos; track todo) {
                    <li class="todo">
                        <label (click)="complateTodo(todo)" for="">
                            <img  [src]="todo.complated ? '/assets/checked.png' : '/assets/unchecked.png'" alt="">
                            <span [ngClass]="todo.complated ? 'checked' : ''">{{todo.note}}</span>
                        </label>
                        <button (click)="deleteById(todo.id)" class="delete-btn"><i class="fa fa-times"></i></button>
                    </li>
                }
            </ul>
        }
        @else {
            <img src="/assets/images.png" alt="" class="empty-image">
        }
    </div>
</div>